/** IMPORTS **/
/** VARIABLES **/
/* FONTFAMILY */
/* FONT/ICON COLORS */
/* FONT WEIGHT */
/* BACKGROUND & BORDER COLORS */
/* UTILITY COLORS */
/* BORDER-RADIUS */
/* ANIMATION TRANSITION */
/** FONT IMPORTS **/
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Thin-WebS.eot");
  src: local("Suisse Intl Thin"), local("SuisseIntl-Thin-WebS"), url("/fonts/SuisseIntl-Thin-WebS.eot?#iefix") format("embedded-opentype"), url("/fonts/SuisseIntl-Thin-WebS.woff2") format("woff2"), url("/fonts/SuisseIntl-Thin-WebS.woff") format("woff"), url("/fonts/SuisseIntl-Thin-WebS.ttf") format("truetype"), url("/fonts/SuisseIntl-Thin-WebS.svg#SuisseIntl") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Light.eot");
  src: local("Suisse Intl Light"), local("SuisseIntl-Light"), url("/fonts/SuisseIntl-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/SuisseIntl-Light.woff2") format("woff2"), url("/fonts/SuisseIntl-Light.woff") format("woff"), url("/fonts/SuisseIntl-Light.ttf") format("truetype"), url("/fonts/SuisseIntl-Light.svg#SuisseIntl") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Regular.eot");
  src: local("Suisse Intl Regular"), local("SuisseIntl-Regular"), url("/fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/SuisseIntl-Regular.woff2") format("woff2"), url("/fonts/SuisseIntl-Regular.woff") format("woff"), url("/fonts/SuisseIntl-Regular.ttf") format("truetype"), url("/fonts/SuisseIntl-Regular.svg#SuisseIntl") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Medium.eot");
  src: local("Suisse Intl Medium"), local("SuisseIntl-Medium"), url("/fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/SuisseIntl-Medium.woff2") format("woff2"), url("/fonts/SuisseIntl-Medium.woff") format("woff"), url("/fonts/SuisseIntl-Medium.ttf") format("truetype"), url("/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Bold.eot");
  src: local("Suisse Intl Bold"), local("SuisseIntl-Bold"), url("/fonts/SuisseIntl-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/SuisseIntl-Bold.woff2") format("woff2"), url("/fonts/SuisseIntl-Bold.woff") format("woff"), url("/fonts/SuisseIntl-Bold.ttf") format("truetype"), url("/fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
/** TYPOGRAPHY **/
html,
body {
  font-size: 16px;
  font-family: "Suisse Intl", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #193040;
}

h1,
h2,
h3,
h4,
h5,
p,
.item {
  font-family: "Suisse Intl", sans-serif;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

a {
  color: #1966ec;
}
a:hover {
  color: #194eaa;
}

/** TYPOGRAPHY UTILITY CLASSES **/
/* FONT WEIGHT */
.font-weight-light {
  font-weight: 100;
}

.font-weight-medium {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 600;
}

/* TEXT TRANSFORM */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* FONT STYLE */
.italic {
  font-style: italic;
}

/* ERROR MESSAGE TEXT */
.danger-message {
  color: #ce3f11 !important;
}

/** LABELS **/
.label {
  color: #193040;
  font-size: 0.8125rem;
  font-weight: 500;
}
.label--large {
  font-size: 0.875rem;
  font-weight: 400;
}
.label--stacked {
  margin-bottom: 0.25rem;
}

.accessibly-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/** PADDING AND MARGIN CLASSES **/
.mt-1 {
  margin-top: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pl-1 {
  padding-left: 0.5rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.pl-3 {
  padding-left: 1.5rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pr-4 {
  padding-right: 2rem !important;
}

.pb-4 {
  padding-bottom: 2rem !important;
}

.pl-4 {
  padding-left: 2rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

/** CONTAINERS AND LAYOUT **/
/* BODY */
.main-content {
  min-height: calc(100vh - 195px);
}

/* GENERAL WRAPPER */
.wrapper-one {
  padding: 25px;
}

/* BREADCRUMBS ROW */
.breadcrumbs-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

/* TITLE ROW */
.title-row {
  margin-bottom: 1.25rem;
}

/* CUSTOMER INFO ROW */
.customer-info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customer-info__col-one {
  display: flex;
  align-items: flex-end;
}
.customer-info__col-two {
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 1152px) {
  .customer-info__col-two {
    margin-top: 1.25rem;
  }
}

/* PROJECTS TABLE */
.projects-table {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* PAGINATION ROW */
.pagination-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.pagination-row .items-per-page {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 33.333%;
}
.pagination-row .items-per-page .item-count {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 1200px) {
  .pagination-row .items-per-page .dropdown-inline {
    width: 100%;
  }
  .pagination-row .items-per-page .item-count {
    order: 2;
    margin-top: 1rem;
  }
}
.pagination-row .pagination-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .pagination-row .pagination-buttons {
    display: block;
    margin: 0;
  }
}
.pagination-row .pagination-search {
  justify-content: flex-end;
  width: 33.333%;
  text-align: right;
}

/* BREADCRUMBS */
.ui.breadcrumb .divider {
  color: #334756;
  font-size: 0.8125rem;
}
.ui.breadcrumb a.section {
  color: #334756;
  font-size: 0.8125rem;
}
.ui.breadcrumb a.section.active {
  color: #1966ec;
  font-weight: 400;
}
.ui.breadcrumb a.section:hover {
  color: #194eaa;
  font-weight: 400;
}

/** BUTTONS **/
/* NORMAL BUTTON TEXT */
.button-text {
  font-size: 0.875rem;
}

/* REMOVES BORDER FROM TINY BUTTON CONTAINER*/
.buttons-container .ui.basic.buttons {
  border: none;
}

.ppg.ui.button {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  border-radius: 2px;
}
.ppg.ui.primary.button {
  background-color: #1e5dcb;
  height: 40px;
  padding: 6px 12px;
  transition: all 0.25s;
  transition-property: background-color, border;
}
.ppg.ui.primary.button:hover, .ppg.ui.primary.button:focus {
  background-color: #194eaa;
  border: #194eaa;
}
.ppg.ui.secondary.button {
  border: 1px solid #1e5dcb;
  color: #1e5dcb;
  background-color: #ffffff;
  height: 40px;
  box-shadow: none !important;
  padding: 6px 12px;
  transition: all 0.25s;
  transition-property: background-color, border, color;
}
.ppg.ui.secondary.button:hover, .ppg.ui.secondary.button:focus {
  background-color: #194eaa;
  border: 1px solid #194eaa;
  color: #ffffff;
}
.ppg.ui.small {
  background-color: #e7ebed;
  color: #193040;
  font-weight: 500;
  min-height: 36px;
  padding: 6px 12px;
}
.ppg.ui.small:hover {
  background-color: #d6dadc;
  transition: all 0.25s;
}
.ppg.ui.small .material-icons--print {
  color: #4e6576;
}
.ppg.tiny.ui.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  max-width: fit-content;
  min-height: 30px;
}
.ppg.tiny.ui.button.btn-green {
  color: #0a8d4d;
  border: solid 1px #02a154;
  background-color: rgba(2, 161, 84, 0.1);
  padding: 0.175rem 0.375rem;
  line-height: 1.25;
  min-height: 26px;
}
.ppg.tiny.ui.button.btn-green:hover, .ppg.tiny.ui.button.btn-green.active {
  color: #076939;
  border: solid 1px #027b40;
  background-color: rgba(2, 123, 64, 0.1);
}
.ppg.tiny.ui.button.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #334756 !important;
  padding: 0.375rem 0.75rem;
  border: solid 1px #b3c1cc;
  background-color: #ffffff;
  font-size: 0.8125rem;
  min-width: 70px;
  max-width: fit-content;
  min-height: 30px;
}
.ppg.tiny.ui.button.btn-group:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ppg.tiny.ui.button.btn-group:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ppg.tiny.ui.button.btn-group:hover, .ppg.tiny.ui.button.btn-group.active {
  color: #1e5dcb !important;
  border: solid 1px #1966ec;
  background-color: rgba(25, 102, 236, 0.1) !important;
}

.ppg-custom-radio.ui.radio.checkbox {
  min-height: 22px;
  line-height: 22px;
}
.ppg-custom-radio.ui.radio.checkbox input[type=radio] {
  width: 28px;
  height: 22px;
}
.ppg-custom-radio.ui.radio.checkbox label:before, .ppg-custom-radio.ui.radio.checkbox label:after {
  width: 20px;
  height: 20px;
  left: 4px;
}
.ppg-custom-radio.ui.radio.checkbox label:before {
  border: 1px solid #b3c1cc !important;
  transition: all ease 0.25s;
}
.ppg-custom-radio.ui.radio.checkbox label:after {
  background-color: #ffffff !important;
  transition: all ease 0.25s;
}
.ppg-custom-radio.ui.radio.checkbox input:checked ~ label:before {
  left: 4px;
  background-color: #1966ec;
  border: 1px solid #1966ec !important;
  transition: all ease 0.25s;
}
.ppg-custom-radio.ui.radio.checkbox input:checked ~ label:after {
  left: 4px;
  background-color: #ffffff !important;
  border: 1px solid #1966ec !important;
  transition: all ease 0.25s;
}

/** CUSTOM CHECKBOX **/
.custom-checkbox {
  width: fit-content;
}
.custom-checkbox__input {
  display: none;
}
.custom-checkbox__input:disabled ~ .custom-checkbox__label {
  color: #eee;
  cursor: no-drop;
}
.custom-checkbox__input:checked + .custom-checkbox__label:after {
  border-color: #ffffff;
  -webkit-animation: check 0.25s;
  animation: check 0.25s;
  opacity: 1;
}
.custom-checkbox__input:checked + .custom-checkbox__label:before {
  background-color: #1966ec;
  border: 1px solid #1966ec;
}
.custom-checkbox__label {
  position: relative;
  display: block;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  padding-left: 30px;
}
.custom-checkbox__label:after {
  content: "";
  display: block;
  width: 5px;
  height: 15px;
  opacity: 0;
  border-right: 2px solid #eee;
  border-top: 2px solid #eee;
  position: absolute;
  left: 6px;
  top: 15px;
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.custom-checkbox__label:before {
  content: "";
  display: block;
  border: 1px solid #b3c1cc;
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #ffffff;
  left: 0;
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 5px;
  }
  50% {
    height: 15px;
    width: 5px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 5px;
  }
  50% {
    height: 15px;
    width: 5px;
  }
}

/** HEADER **/
header {
  /* HEADER COLOR STRIP */
  /* ROW BELOW COLOR STRIP */
  /* NAVBAR ROW  */
}
header .color-strip {
  height: 5px;
  background-image: linear-gradient(to left, #ff0000, #ffd602 33%, #1aa063 65%, #0157fc);
}
header .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  background-color: #112330;
  color: #ffffff;
  /* DROPDOWN MENU  */
}
header .header-menu .title {
  flex: 1;
  text-align: center;
  /* TITLE SPAN */
  /* TITLE TM */
}
header .header-menu .title__span {
  font-weight: 100;
}
header .header-menu .title__tm {
  font-weight: 100;
  font-size: 1.25rem;
  vertical-align: text-top;
}
header .header-menu .user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20rem;
  text-align: right;
}
header .header-menu .user-info__text {
  font-weight: 300;
}
header .header-menu .user-info .material-icons--account {
  padding-right: 0.5rem;
}
header .header-menu .ppg-logo {
  display: flex;
  width: 5rem;
}
header .header-menu .ppg-logo img {
  height: 40px;
  cursor: pointer;
}
header .header-menu .dropdown {
  display: flex;
  align-items: center;
  width: 15rem;
  /* MENU LABEL */
}
header .header-menu .dropdown__label {
  color: #ffffff;
  font-family: "Suisse Intl", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}
header .header-menu .dropdown .ui.floating.dropdown {
  background-color: transparent;
  padding: 0;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon span:nth-child(1) {
  top: 0px;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon span:nth-child(2), header .header-menu .dropdown .ui.floating.dropdown .nav-icon span:nth-child(3) {
  top: 9px;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon span:nth-child(4) {
  top: 18px;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .header-menu .dropdown .ui.floating.dropdown .nav-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}
header .header-menu .dropdown .ui.floating.dropdown .menu {
  border-radius: 2px !important;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(25, 48, 64, 0.2);
  padding: 0.75rem 0.25rem;
}
header .header-menu .dropdown .ui.floating.dropdown .menu .item {
  display: flex;
  align-items: center;
  padding: 0.525rem 1.14285714rem !important;
  /* HEADER DROPDOWN MENU TEXT */
}
header .header-menu .dropdown .ui.floating.dropdown .menu .item__text {
  color: #193040;
  font-size: 0.875rem;
}
header .header-menu .dropdown .ui.floating.dropdown .menu .item .material-icons {
  color: #334756;
  font-size: 1.25rem;
  padding-right: 1rem;
}
header .ui-nav.ui.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0.5rem 8px;
  background-color: #334756;
  margin: 0;
  border: none;
  border-radius: 0;
}
header .ui-nav.ui.menu .ui.icon.input {
  width: 25%;
}
header .ui-nav.ui.menu .menu-links-container {
  display: flex;
  width: 75%;
  /* NAVBAR LINKS */
}
header .ui-nav.ui.menu .menu-links-container .item {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.0275rem;
  padding: 8px;
  justify-content: center;
  /* NAVLINK UNDERLINE ANIMATION */
}
header .ui-nav.ui.menu .menu-links-container .item:first-of-type {
  width: 9%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(2) {
  width: 12%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(3) {
  width: 14%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(4) {
  width: 23%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(5) {
  width: 14%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(6) {
  width: 16%;
}
header .ui-nav.ui.menu .menu-links-container .item:nth-child(7) {
  width: 10%;
}
header .ui-nav.ui.menu .menu-links-container .item:hover, header .ui-nav.ui.menu .menu-links-container .item:focus {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: normal;
  position: relative;
  /* NAVLINK UNDERLINE ANIMATION */
}
header .ui-nav.ui.menu .menu-links-container .item:hover:before, header .ui-nav.ui.menu .menu-links-container .item:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header .ui-nav.ui.menu .menu-links-container .item:before {
  background-color: #3ec7f4;
  content: "";
  height: 5px;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/** SUBHEADER TABS **/
.subheader-tabs {
  /* NAVBAR ROW  */
}
.subheader-tabs .ui-nav.ui.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.5rem 8px;
  background-color: #000000;
  margin: 0;
  border: none;
  border-radius: 0;
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container {
  display: flex;
  width: 75%;
  /* NAVBAR LINKS */
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.0275rem;
  padding: 8px;
  justify-content: center;
  flex: 1;
  min-width: fit-content;
  /* NAVLINK UNDERLINE ANIMATION */
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item:hover {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: normal;
  position: relative;
  /* NAVLINK UNDERLINE ANIMATION */
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fcc22f;
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item:focus {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: normal;
  position: relative;
  /* NAVLINK UNDERLINE ANIMATION */
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #3ec7f4;
}
.subheader-tabs .ui-nav.ui.menu .menu-links-container .item:before {
  content: "";
  height: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/** PREDICTIVE SEARCH DROPDOWN  **/
.ui.search > .results {
  border-radius: 2px;
  margin-top: 0;
}
.ui.search > .results .result:hover, .ui.search > .results .result.active {
  background: rgba(25, 102, 236, 0.1);
}

/** SELECT W/INLINE LABEL*/
.dropdown-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/** SELECT **/
.ui.fluid.selection.dropdown.select-large {
  font-size: 0.875rem;
  border-radius: 2px;
  padding: 0.6875rem 1.5rem 0.6875rem 0.625rem;
  text-align: left;
  height: 40px;
  width: 10rem;
  line-height: 1rem;
}
.ui.fluid.selection.dropdown.select-large .dropdown.icon {
  right: 0.575rem;
  line-height: 1rem;
}
.ui.fluid.selection.dropdown.select-large .menu > .item {
  font-size: 0.875rem;
  color: #193040;
  padding: 0.6875rem !important;
  text-align: left;
  word-break: break-all;
}
.ui.fluid.selection.dropdown.select-large .menu > .item:hover {
  background-color: rgba(25, 102, 236, 0.1);
}
.ui.fluid.selection.dropdown.select-large:not(.button) > .default.text, .ui.fluid.selection.dropdown.select-large .text {
  color: #193040;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.fluid.selection.dropdown.select-small {
  font-size: 0.875rem;
  border-radius: 2px;
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  text-align: left;
  height: 35px;
  min-height: 35px;
  width: 10rem;
  line-height: 1rem;
}
.ui.fluid.selection.dropdown.select-small .menu > .item {
  font-size: 0.875rem;
  color: #193040;
  padding: 0.5rem !important;
  text-align: left;
  text-align: left;
  word-break: break-all;
}
.ui.fluid.selection.dropdown.select-small .menu > .item:hover {
  background-color: rgba(25, 102, 236, 0.1);
}
.ui.fluid.selection.dropdown.select-small:not(.button) > .default.text, .ui.fluid.selection.dropdown.select-small .text {
  color: #193040;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.fluid.selection.dropdown.select-small .dropdown.icon {
  padding: 0.575rem 0.575rem 0.575rem 0.575rem;
  right: 10px;
}
.ui.fluid.selection.dropdown.select-small--grey {
  background-color: #e7ebed;
  width: 3.75rem;
  font-size: 1rem;
}
.ui.fluid.selection.dropdown.select-small--grey .menu > .item {
  font-size: 1rem;
}
.ui.fluid.selection.dropdown.select-small--grey:not(.button) > .default.text {
  color: #334756;
}
.ui.fluid.selection.dropdown.select-small--grey .dropdown.icon {
  padding: 0.5rem 0.65rem 0.5rem 0.25rem;
}
.ui.fluid.selection.dropdown.select-small--search {
  width: 10rem;
}
.ui.fluid.selection.dropdown.select-small--search > input.search {
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
}

/** PAGINATION **/
.pagination-buttons .ui.pagination.menu {
  min-height: 28px;
  height: 28px;
  box-shadow: none;
  border: none;
}
.pagination-buttons .ui.pagination.menu .item {
  font-size: 0.875rem;
  color: #334756;
  min-width: 32px;
}
.pagination-buttons .ui.pagination.menu .item > i.icon {
  margin: 0 0 0 2px;
  font-size: 1rem;
}
.pagination-buttons .ui.pagination.menu .item:before {
  background: transparent;
}
.pagination-buttons .ui.pagination.menu .item--angle-left, .pagination-buttons .ui.pagination.menu .item--angle-right {
  padding: 0.25rem 0.5rem;
  max-width: 40px;
  width: 40px;
  height: 28px;
  border-radius: 1px;
  background-color: #e7ebed;
}
.pagination-buttons .ui.pagination.menu .item--angle-left:hover, .pagination-buttons .ui.pagination.menu .item--angle-right:hover {
  background-color: rgba(25, 102, 236, 0.5);
}
.pagination-buttons .ui.pagination.menu .item--angle-left {
  margin-right: 1.25rem;
}
.pagination-buttons .ui.pagination.menu .item--angle-right {
  margin-left: 1.25rem;
}
.pagination-buttons .ui.pagination.menu .item--page-selection {
  padding: 0.25rem 0.75rem;
}
.pagination-buttons .ui.pagination.menu .item--page-selection.active, .pagination-buttons .ui.pagination.menu .item--page-selection:hover {
  color: #ffffff;
  background-color: #1966ec;
}

/* COLORPORTAL */
.item-count {
  font-size: 0.875rem;
  color: #193040;
}
.item-count span {
  font-weight: 600;
}

/* PREVIOUS PAGE ICON/TEXT */
.previous-page {
  display: flex;
  line-height: 20px;
  max-width: fit-content;
}
.previous-page__icon {
  font-size: 1.125rem;
  line-height: 20px;
  padding-right: 0.35rem;
}
.previous-page__text {
  font-size: 0.875rem;
}

/** INPUTS **/
/* SHOWS 'x' FOR CLEARING INPUT FIELD IN CHROME THAT IS HIDDEN OTHERWISE */
input[type=search] {
  -webkit-appearance: searchfield;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  cursor: pointer;
}

/* GENERAL */
.ui.icon.input .search.icon {
  color: #1966ec;
}
.ui.icon.input input {
  font-family: "Suisse Intl", sans-serif;
  font-size: 0.875rem !important;
  border: solid 1px #b3c1cc;
  border-radius: 2px;
  padding: 0.59375rem 2.34375rem 0.59375rem 0.875rem !important;
  height: 40px;
}
.ui.icon.input input::placeholder {
  font-family: "Suisse Intl", sans-serif;
  font-size: 0.875rem;
  color: #9ba6ae !important !important;
}

/* PREDICTIVE SEARCH WITH LABEL */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-container .ui.icon.input {
  min-width: 18rem;
}
.search-container .ui.search .prompt {
  font-family: "Suisse Intl", sans-serif;
  font-size: 0.875rem;
  border-radius: 2px;
  height: 40px;
}
.search-container .ui.search .prompt:focus {
  border: 1px solid #1966ec;
}
.search-container .ui.search > .results > .message .header,
.search-container .ui.search > .results .result .content .title {
  font-family: "Suisse Intl", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #193040;
}

/* REQUIRED INPUT W/ERROR MESSAGE */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-container.required-field {
  min-height: 94px;
}
.search-container.required-field .ui.icon.input input {
  padding: 0.59375rem 0.75rem 0.59375rem 0.875rem !important;
}
.search-container.required-field .ui.icon.input input.input-invalid {
  border: 1px solid #ce3f11;
}
.search-container.required-field .label--required:before {
  content: "* ";
  color: #ce3f11;
}
.search-container.required-field .required-error-message {
  color: #ce3f11;
  font-size: 0.875rem;
  margin-top: 0.35rem;
  visibility: hidden;
}
.search-container.required-field .required-error-message.show-error-message {
  visibility: visible;
}

/* PAGINATION SEARCH SMALL INPUT WITH INLINE LABEL AND LINK */
.pagination-search {
  display: flex;
  align-items: baseline;
}
.pagination-search .ui.input input {
  width: 42px;
  height: 35px;
  border-radius: 1px;
  padding: 0.25rem 0.35rem;
}
.pagination-search .ui.input input:focus {
  border: solid 1px #1966ec;
}

/** TABLES **/
table.ui.table thead th {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #193040;
  text-transform: capitalize;
}
table.ui.table thead th:after {
  text-transform: none;
}
table.ui.table td {
  font-size: 0.8125rem;
  color: rgba(25, 48, 64, 0.7);
}
table.ui.table td a {
  color: #1966ec;
  cursor: pointer;
}
table.ui.table.draggable-droppable th:first-of-type {
  padding-left: 32px;
}
table.ui.table.draggable-droppable td:first-of-type:before {
  position: relative;
  top: 2px;
  width: 12px;
  font-size: 14px;
  margin-right: 6px;
  font-family: "Material Icons";
  content: "drag_indicator";
  color: #66737d;
  font-feature-settings: "liga";
}
table.ui.table.sortable.very.basic.striped.padded.table th {
  position: relative;
  border-top: solid 1px rgba(17, 35, 48, 0.25);
  border-bottom: solid 1px rgba(17, 35, 48, 0.25);
  border-left: none;
}
table.ui.table.sortable.very.basic.striped.padded.table th:after {
  position: absolute;
  top: 13px;
  content: "";
  display: inline-block;
  width: 12px;
}
@media screen and (max-width: 959px) {
  table.ui.table.sortable.very.basic.striped.padded.table th:after {
    top: 3px;
  }
}
table.ui.table.sortable.very.basic.striped.padded.table th.ascending:after {
  font-family: "Material Icons";
  content: "arrow_downward";
  font-feature-settings: "liga";
}
table.ui.table.sortable.very.basic.striped.padded.table th.descending:after {
  font-family: "Material Icons";
  content: "arrow_upward";
  font-feature-settings: "liga";
}
table.ui.table.sortable.very.basic.striped.padded.table th.sorted {
  background-color: transparent;
}
table.ui.table.very.basic.striped.padded.table {
  border-bottom: solid 1px rgba(17, 35, 48, 0.25);
  border-radius: 0;
}
table.ui.table.very.basic.striped.padded.table thead tr:first-child > th:first-child, table.ui.table.very.basic.striped.padded.table thead tr:first-child > th:last-child {
  border-radius: 0;
}
table.ui.table.very.basic.striped.padded.table thead th {
  border-top: solid 1px rgba(17, 35, 48, 0.25);
  border-bottom: solid 1px rgba(17, 35, 48, 0.25);
  border-left: none;
}
table.ui.table.very.basic.striped.padded.table tbody tr {
  cursor: pointer;
}
table.ui.table.very.basic.striped.padded.table tbody tr:nth-child(1n) {
  background-color: rgba(17, 35, 48, 0.03) !important;
}
table.ui.table.very.basic.striped.padded.table tbody tr:nth-child(2n) {
  background-color: transparent !important;
}
table.ui.table.very.basic.striped.padded.table tbody tr:hover {
  background-color: rgba(25, 102, 236, 0.1) !important;
}
table.ui.table.very.basic.striped.padded.table tbody tr td {
  border-top: 1px solid transparent;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container {
  display: flex;
  padding-left: 1rem;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container__icon {
  line-height: 8px;
  margin-right: 0.25rem;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container__icon .material-icons {
  font-size: 22px;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container__icon .comment--no {
  color: #57768d;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container__icon .comment--yes {
  color: #1966ec;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .comment-container__count {
  color: #193040;
  font-weight: 600;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .dot {
  height: 9px;
  width: 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .dot--approved {
  background-color: #02a154;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .dot--pending {
  background-color: #ff9a00;
}
table.ui.table.very.basic.striped.padded.table tbody tr td .dot--rejected {
  background-color: #ce3f11;
}

/** FOOTER **/
footer {
  height: 60px;
  /* optional background-color */
  /* background-color: $background-color-gray-one; */
  background-color: #112330;
  display: flex;
  align-items: center;
  /* FOOTER TRADEMARK  */
}
footer img {
  height: 40px;
  margin-left: 25px;
  margin-right: 24px;
  cursor: pointer;
}
footer .footer-trademark {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
}

.ui.dimmer.modals {
  background-color: rgba(0, 0, 0, 0.35);
}

.ppg.ui.modal {
  border-radius: 3px;
}
.ppg.ui.modal .modal-header,
.ppg.ui.modal p {
  font-family: "Suisse Intl", sans-serif;
}
.ppg.ui.modal .modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #334756;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #ffffff;
  padding: 0.675rem 0.75rem 0.675rem 1.25rem;
  height: 48px;
  line-height: 1;
}
.ppg.ui.modal .modal-header-container .modal-header {
  font-size: 1.125rem !important;
  font-weight: 300;
}
.ppg.ui.modal .modal-header-container .material-icons {
  cursor: pointer;
}

/** FULL SCREEN BLACKOUT OVERLAY VISIBLE BELOW 960PX **/
#blackout-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #15232f;
  z-index: 2;
  cursor: pointer;
}
#blackout-overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#blackout-overlay__text h1 {
  color: #ffffff;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 300;
  line-height: 2rem;
}
@media only screen and (min-width: 960px) {
  #blackout-overlay {
    display: none;
  }
}

/** COLORPORTAL ACCORDION **/
.color-portal-accordion .accordion-toggle {
  cursor: pointer;
}
.color-portal-accordion--project-details {
  margin: 0 0 0.5rem 0;
  padding: 0.75rem 25px;
  background-color: rgba(231, 235, 237, 0.5);
}
.color-portal-accordion--project-details .ui.fluid.accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.25rem;
  cursor: default;
}
.color-portal-accordion--project-details .ui.fluid.accordion .title__icon-text {
  display: flex;
  align-items: center;
}
.color-portal-accordion--project-details .ui.fluid.accordion .title__icon-text h1 {
  margin-top: 0;
  font-weight: 500;
  color: #193040;
}
.color-portal-accordion--project-details .ui.fluid.accordion .title__buttons-container {
  display: flex;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content {
  padding-bottom: 1rem;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content .label--large {
  color: #7f98ab;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one {
  display: flex !important;
  padding: 0.75rem 0 1.75rem 0;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-one {
  display: flex;
  width: 45%;
  max-width: 400px;
}
@media only screen and (min-width: 1200px) {
  .color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-one {
    max-width: 510px;
  }
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-one .item {
  min-width: 12rem;
}
@media only screen and (min-width: 1200px) {
  .color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-one .item {
    min-width: 15rem;
  }
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-one .item__bottom {
  color: #193040;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-two {
  display: flex;
  width: 55%;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-two .item {
  min-width: 10rem;
}
@media only screen and (min-width: 1200px) {
  .color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-two .item {
    min-width: 11rem;
  }
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-one--section-two .item__bottom {
  color: #193040;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-two {
  display: flex !important;
  padding-bottom: 0.5rem;
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-two--section-one {
  display: flex;
  width: 40%;
  max-width: 400px;
}
@media only screen and (min-width: 1200px) {
  .color-portal-accordion--project-details .ui.fluid.accordion .content__row-two--section-one {
    max-width: 510px;
  }
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-two--section-one .item {
  min-width: 12rem;
}
@media only screen and (min-width: 1200px) {
  .color-portal-accordion--project-details .ui.fluid.accordion .content__row-two--section-one .item {
    min-width: 15rem;
  }
}
.color-portal-accordion--project-details .ui.fluid.accordion .content__row-two--section-one .item__bottom {
  color: #193040;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
}

/** STYLIST - PROJECT DETAILS TABLES **/
.styling-iterations,
.linked-colors {
  margin-top: 2rem;
}

.styling-inspirations .table-description,
.styling-iterations .table-description,
.linked-colors .table-description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.styling-inspirations .table-description__title,
.styling-iterations .table-description__title,
.linked-colors .table-description__title {
  color: #193040;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.styling-inspirations .table-description__search-cta,
.styling-iterations .table-description__search-cta,
.linked-colors .table-description__search-cta {
  display: flex;
  align-items: flex-end;
}
.styling-inspirations .table-description__search-cta .search-container,
.styling-iterations .table-description__search-cta .search-container,
.linked-colors .table-description__search-cta .search-container {
  margin-right: 1rem;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .styling-inspirations .table-description__search-cta .search-container,
.styling-iterations .table-description__search-cta .search-container,
.linked-colors .table-description__search-cta .search-container {
    margin-bottom: -6px;
  }
}
.styling-inspirations table.ui.sortable.very.basic.striped.padded.table thead tr th:first-child,
.styling-iterations table.ui.sortable.very.basic.striped.padded.table thead tr th:first-child,
.linked-colors table.ui.sortable.very.basic.striped.padded.table thead tr th:first-child {
  width: 20%;
}
.styling-inspirations table.ui.sortable.very.basic.striped.padded.table .icon-text-container,
.styling-iterations table.ui.sortable.very.basic.striped.padded.table .icon-text-container,
.linked-colors table.ui.sortable.very.basic.striped.padded.table .icon-text-container {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
.styling-inspirations table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon,
.styling-iterations table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon,
.linked-colors table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon {
  display: flex;
}
.styling-inspirations table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon .material-icons,
.styling-iterations table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon .material-icons,
.linked-colors table.ui.sortable.very.basic.striped.padded.table .icon-text-container__icon .material-icons {
  font-size: 16px;
  margin-right: 0.25rem;
}
.styling-inspirations .no-info-text,
.styling-iterations .no-info-text,
.linked-colors .no-info-text {
  color: #66737d;
  font-size: 1rem;
  margin-top: 1.25rem;
}

.styling-inspirations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(2), .styling-inspirations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(3), .styling-inspirations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(4), .styling-inspirations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(5), .styling-inspirations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(6),
.styling-iterations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(2),
.styling-iterations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(3),
.styling-iterations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(4),
.styling-iterations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(5),
.styling-iterations .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(6) {
  width: 16%;
}

.linked-colors .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(2) {
  width: 16%;
}
.linked-colors .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(3) {
  width: 16%;
}
.linked-colors .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(4) {
  width: 16%;
}
.linked-colors .ui.sortable.very.basic.striped.padded.table thead tr th:nth-child(5) {
  max-width: 16%;
}

/** COLORPORTAL MODALS **/
.ppg.colorportal.ui.medium.modal {
  max-width: 650px;
}
.ppg.colorportal.ui.medium.modal .scrolling.content {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.ppg.colorportal.ui.medium.modal .content__modal-description {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}
.ppg.colorportal.ui.medium.modal .button-container {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
.ppg.colorportal.ui.medium.modal .button-container__column-one, .ppg.colorportal.ui.medium.modal .button-container__column-two {
  display: flex;
}
.ppg.colorportal.ui.medium.modal .standard-sample {
  border-bottom: solid 1px rgba(17, 35, 48, 0.25);
  margin: 1rem 0 0 0;
}
.ppg.colorportal.ui.medium.modal .standard-sample__header {
  display: flex;
  padding: 0.85rem 0.75rem;
  border-top: solid 1px rgba(17, 35, 48, 0.25);
}
.ppg.colorportal.ui.medium.modal .standard-sample__header .title {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}
.ppg.colorportal.ui.medium.modal .standard-sample__header .col-one {
  width: 70%;
}
.ppg.colorportal.ui.medium.modal .standard-sample__header .col-two {
  width: 15%;
  text-align: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__header .col-three {
  width: 15%;
  text-align: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .custom-checkbox {
  width: 25px;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .custom-checkbox__label {
  padding: 0;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .ppg-custom-radio {
  min-height: 25px;
  line-height: 25px;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .ppg-custom-radio.ui.radio.checkbox input[type=radio] {
  width: 32px;
  height: 25px;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .ppg-custom-radio label:before, .ppg.colorportal.ui.medium.modal .standard-sample__content .ppg-custom-radio label:after {
  top: 1px;
  width: 24px;
  height: 24px;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary {
  display: flex;
  align-items: center;
  background-color: rgba(231, 235, 237, 0.5);
  padding: 0.65rem 0.75rem;
  border-top: solid 1px rgba(17, 35, 48, 0.25);
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary .col-one {
  display: flex;
  align-items: baseline;
  width: 70%;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary .col-two {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary .col-three {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary__name {
  font-family: "Suisse Intl", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #193040;
  text-transform: capitalize;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .title-primary .dropdown.icon {
  width: 0.5rem;
  margin-right: 0.75rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second {
  padding: 0.25rem 0.75rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion {
  margin: 0;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .dropdown.icon {
  width: 0.5rem;
  margin-right: 0.75rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .title-secondary {
  display: flex;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .title-secondary .col-one {
  display: flex;
  align-items: center;
  width: 70%;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .title-secondary .col-two {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .title-secondary .col-three {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--second .ui.accordion .title-secondary__name {
  font-family: "Suisse Intl", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #193040;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third {
  padding: 0.25rem 0;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third .ui.accordion {
  margin: 0;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third__main {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third__main:first-of-type {
  margin-top: 0.5rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third .col-one {
  padding-left: 1.25rem;
  width: 70%;
  font-size: 0.875rem;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third .col-two {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion .content--third .col-three {
  width: 15%;
  display: flex;
  justify-content: center;
}
.ppg.colorportal.ui.medium.modal .standard-sample__content .standard-sample__accordion:last-of-type .content--third__main:last-of-type {
  margin-bottom: 1rem;
}
.ppg.colorportal.ui.medium.modal .select-large--export {
  width: 10.75rem;
  border: 1px solid #1966ec;
}
.ppg.colorportal.ui.medium.modal .select-large--export .default.text {
  color: #1e5dcb;
}
.ppg.colorportal.ui.medium.modal .select-large--export .menu {
  border-color: #1966ec;
}

/*# sourceMappingURL=styles.css.map */
