/* BREADCRUMBS */
.ui.breadcrumb {
  & .divider {
    color: $breadcrumb-divider;
    font-size: 0.8125rem;
  }
  & a.section {
    color: $breadcrumb-divider;
    font-size: 0.8125rem;

    &.active {
      color: $font-color-blue-one;
      font-weight: $font-weight-normal;
    }
    &:hover {
      color: darken($font-color-blue-two, $amount: 7.5%);
      font-weight: $font-weight-normal;
    }
  }
}

/* PREVIOUS PAGE ICON/TEXT */
.previous-page {
  display: flex;
  max-width: fit-content;

  &__icon {
    display: flex;
    align-items: center;
    & .material-icons {
      font-size: 18px;
      padding-right: 0.25rem;
    }
  }

  &__text {
    font-size: 0.875rem;
  }
}
