/* BUTTONS */

.color-portal {
  &.ui.button {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: $font-family-primary;
    font-weight: $font-weight-normal;
    border-radius: 2px;
  }
  &.ui {
    &.primary.button {
      background-color: $background-color-blue-two;
      height: 40px;
      padding: 6px 12px;
      transition: all 0.25s;

      &:hover,
      &:focus {
        background-color: darken($background-color-blue-two, $amount: 7.5%);
        transition: all 0.25s;
      }
    }
    &.secondary.button {
      border: 1px solid $background-color-blue-two;
      color: $font-color-blue-two;
      background-color: $background-color-white-one;
      height: 40px;
      box-shadow: none !important;
      padding: 6px 12px;

      &:hover,
      &:focus {
        background-color: $background-color-blue-two;
        color: $font-color-white-one;
      }
    }
  }
}

/* tiny buttons */
.ui.basic.buttons .tiny.ui.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-color-gray-two !important;
  padding: 0.375rem 0.75rem;
  border: solid 1px $background-color-gray-three;
  background-color: $background-color-white-one;
  font-size: 0.8125rem;
  min-width: 70px;
  min-height: 30px;

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:hover,
  &.active {
    color: #1e5dcb !important;
    border: solid 1px $background-color-blue-one;
    background-color: rgba(25, 102, 236, 0.1) !important;
  }
}

/* print button */
.color-portal.ui.button.btn-print {
  background-color: $background-color-gray-one;
  font-weight: $font-weight-semi-bold;
  border-radius: 3px;
  padding: 6px 12px;

  &:hover {
    background-color: $background-color-gray-two;
    transition: all 0.25s;
  }
}

/* items per page button */
.btn-items-per-page {
  background-color: $background-color-gray-one;
  border-radius: 1px;
  border: solid 1px $background-color-gray-three;
  color: $font-color-gray-two;
  width: 63px;
  height: 35px;

  &:hover,
  &:focus {
    background-color: $background-color-blue-two;
    border-color: $background-color-blue-two;
  }
}
