/* CHECKBOX */

.custom-checkbox {
  &__input {
    display: none;
    &:disabled ~ .custom-checkbox__label {
      color: $font-color-white-two;
      cursor: no-drop;
    }
    &:checked + .custom-checkbox__label {
      &:after {
        border-color: $background-color-white-one;
        -webkit-animation: check 0.35s;
        animation: check 0.35s;
        opacity: 1;
      }
      &:before {
        background-color: $background-color-blue-one;
        border: 1px solid $background-color-blue-one;
      }
    }
  }
  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 15px;
      opacity: 0;
      border-right: 2px solid $background-color-white-two;
      border-top: 2px solid $background-color-white-two;
      position: absolute;
      left: 6px;
      top: 15px;
      -webkit-transform: scaleX(-1) rotate(135deg);
      transform: scaleX(-1) rotate(135deg);
      -webkit-transform-origin: left top;
      transform-origin: left top;
    }
    &:before {
      content: '';
      display: block;
      border: 1px solid $background-color-gray-three;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
    }
  }

  @-webkit-keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 5px;
    }
    50% {
      height: 15px;
      width: 5px;
    }
  }
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 5px;
    }
    50% {
      height: 15px;
      width: 5px;
    }
  }
}
