/** COLORPORTAL ACCORDION **/

.color-portal-accordion {
  // STYLIST PROJECT DETAILS
  &--project-details {
    margin: 1.25rem -25px 0 -25px;
    padding: 0.75rem 25px;
    background-color: rgba(231, 235, 237, 0.5);

    & .ui.fluid.accordion {
      & .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: default;
        &__icon-text {
          display: flex;
          align-items: center;
          h1 {
            margin-top: 0;
            font-weight: $font-weight-semi-bold;
            color: $font-color-primary;
          }
          & .accordion-toggle {
            cursor: pointer;
          }
        }
        &__buttons-container {
          display: flex;
        }
      }
    }
  }
}
