/** COLORPORTAL TYPOGRAPHY **/

h1.section-title {
  font-weight: $font-weight-semi-bold;
  color: $font-color-primary;
}

h2.sample-legend {
  font-weight: $font-weight-semi-bold;
  color: $font-color-primary;
  font-size: 1.3125rem;
}

p.title-description {
  font-size: 0.875rem;
}
