/** COLORPORTAL ACCORDION **/

.color-portal-accordion {
  & .accordion-toggle-one {
    cursor: pointer;
  }
  // STYLIST PROJECT DETAILS
  &--project-details {
    margin: 0 0 0.5rem 0;
    padding: 0.75rem 25px;
    background-color: rgba(231, 235, 237, 0.5);

    & .ui.fluid.accordion {
      & .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0.25rem;

        cursor: default;
        &__icon-text {
          display: flex;
          align-items: center;
          h1 {
            margin-top: 0;
            font-weight: $font-weight-semi-bold;
            color: $font-color-primary;
          }
        }
        &__buttons-container {
          display: flex;
        }
      }
      & .content {
        padding-bottom: 1rem;
        & .label--large {
          color: $font-color-gray-five;
          margin-bottom: 0.25rem;
          text-transform: capitalize;
        }
        &__row-one {
          display: flex !important;
          padding: 0.75rem 0 1.75rem 0;
          &--section-one {
            display: flex;
            width: 45%;
            max-width: 400px;
            @media only screen and (min-width: 1200px) {
              max-width: 510px;
            }

            & .item {
              min-width: 12rem;
              @media only screen and (min-width: 1200px) {
                min-width: 15rem;
              }
              &__bottom {
                color: $font-color-primary;
                font-size: 1.125rem;
                font-weight: $font-weight-normal;
                text-transform: capitalize;
              }
            }
          }
          &--section-two {
            display: flex;
            width: 55%;
            & .item {
              min-width: 10rem;
              @media only screen and (min-width: 1200px) {
                min-width: 11rem;
              }
              &__bottom {
                color: $font-color-primary;
                font-size: 1.125rem;
                font-weight: $font-weight-normal;
                text-transform: capitalize;
              }
            }
          }
        }
        &__row-two {
          display: flex !important;
          padding-bottom: 0.5rem;
          &--section-one {
            display: flex;
            width: 40%;
            max-width: 400px;
            @media only screen and (min-width: 1200px) {
              max-width: 510px;
            }
            & .item {
              min-width: 12rem;
              @media only screen and (min-width: 1200px) {
                min-width: 15rem;
              }
              &__bottom {
                color: $font-color-primary;
                font-size: 1.125rem;
                font-weight: $font-weight-normal;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}
