/** STYLIST COMPARE LAYOUT **/

.color-portal--data-grid {
  & .wrapper-one {
    & .header-container {
      display: flex;
      justify-content: space-between;

      & .col-two {
        display: flex;
      }
    }
  }
}

.selected-samples.stylist-compare {
  &--data-grid {
    max-height: 800px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    & th,
    & td {
      font-size: 0.75rem !important;
      padding: 0.725rem !important;
    }

    & .standard-data {
      & .section-header {
        margin-bottom: 1rem;
      }

      & .multi-select.ui.dropdown {
        width: 16rem;
      }

      & .table-container {
        margin: 1.5rem 0;
        & .sample-table {
          margin: 1rem 0 0 0;
          overflow-y: auto;

          th {
            text-transform: none;
          }
        }
      }
    }

    & .sample-legend {
      margin: 1rem 0;

      & .table-container {
        overflow: auto;

        & .ui.very.basic.striped.padded.table.draggable-droppable {
          tbody tr {
            & button {
              &.ppg.ui.primary.button {
                height: 25px;
                padding: 4px 12px;
              }
              & .button-text {
                font-size: 0.75rem;
              }
              & .material-icons {
                font-size: 0.85rem;
              }
              &.ppg.ui.small {
                min-height: 25px;
              }
            }
            // TRIGGERED BY CLICK EVENT ON 'SET STANDARD' BUTTON
            & .selected-check {
              display: none;
            }
            &.selected {
              td {
                background-color: #456175;
                color: $font-color-white-one;
                &:before {
                  color: $font-color-white-one;
                }
                & button.primary {
                  display: none;
                }
              }
              & .selected-check {
                display: block;
                text-align: center;
                width: 130px;
              }
            }
          }
        }
      }
    }

    & .colorimetric {
      margin: 1rem 0;

      & .multi-select.ui.dropdown {
        width: 16rem;
      }

      & .table-container {
        margin: 1.5rem 0;
        & .sample-table {
          margin: 1rem 0 0 0;
          overflow-y: auto;

          th {
            text-transform: none;
            &:nth-child(12) {
              &::after {
                content: 'N';
                font-size: 0.5rem;
                position: relative;
                top: 2px;
              }
            }
            &:nth-child(13) {
              &::after {
                content: 'R';
                font-size: 0.5rem;
                position: relative;
                top: 0px;
              }
            }
          }

          tbody {
            td:first-of-type {
              color: $font-color-primary;
              font-weight: $font-weight-bold;
            }
            tr:nth-of-type(5) td {
              border-bottom: 1px solid rgba(17, 35, 48, 0.25);
            }
          }
        }
      }
    }
  }
  &--travel {
    max-height: 500px;
    overflow-y: auto;
    display: flex;

    & .sample-name-container {
      display: flex;
      align-items: baseline;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      & .sample-name {
        margin-right: 0.75rem;

        &--col-two {
          margin-left: auto;
        }
      }
    }

    & .sample-details {
      display: flex;
      margin-top: 0.65rem;

      & .detail {
        margin-right: 2rem;

        &--col-two {
          color: $font-color-primary;
          font-weight: $font-weight-bold;
          margin: 0 0 0 auto;
        }
      }
    }

    & .sample-table {
      margin: 1rem 0;
      overflow: auto;

      th {
        text-transform: none;
      }
    }

    & .col-one {
      width: 60%;
      padding: 2rem 25px;

      & .sample {
        margin-bottom: 2rem;
      }
    }

    & .col-two {
      width: 40%;
      padding: 2rem 25px;

      & .colorimetric {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        min-height: 50px;

        &-container {
          min-height: 90px;
        }

        &-select {
          & .selection.dropdown {
            background-color: $background-color-white-one;
            width: 66px;

            & .text,
            & .item {
              font-size: 0.8125rem;
            }
          }
        }
      }

      & .graph-container {
        margin-bottom: 2rem;

        & .name-expand {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }

        & .svg-container {
          height: 170px;
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}
