/** COLORPORTAL MODALS **/

.ppg.colorportal.ui {
  &.medium.modal {
    & .button-container {
      display: flex;
      justify-content: space-between;
      &__column-one,
      &__column-two {
        display: flex;
      }
    }
    & .select-large--export {
      border: 1px solid $background-color-blue-one;
      & .default.text {
        color: $font-color-blue-two;
      }
      & .menu {
        border-color: $background-color-blue-one;
      }
    }
  }
}

// Laura's modal sizes:
// 500 (mini), 650 (tiny), 700 (small), 910 (medium), 950 (large), 1070 (fullscreen)
