/** COLORPORTAL SCROLLABLE TABLE **/
.scrollable-table-container {
  height: 300px;
  overflow: auto;

  & table {
    & thead {
      z-index: 2;
      box-shadow: 0 1px 4px 0 rgba(51, 71, 86, 0.4) !important;
    }

    & tbody {
      & td {
        font-size: 0.75rem !important;

        & button {
          &.ppg.ui.primary.button,
          &.ppg.ui.secondary.button {
            height: 25px;
            padding: 4px 12px;
          }
          & .button-text {
            font-size: 0.75rem !important;
          }
          & .material-icons {
            font-size: 0.85rem;
          }
          &.ppg.ui.small {
            min-height: 25px;
          }
        }
      }
    }
  }
}

.compare-stylist-travel thead tr {
  background-color: $background-color-white-one;
}
