/** COMPARE STYLIST TRAVEL LAYOUT **/
.selected-samples.compare-stylist-travel {
  max-height: 500px;
  overflow-y: auto;
  display: flex;

  & .sample-type {
    font-size: 0.8125rem;
  }

  & .sample-name-container {
    display: flex;
    align-items: baseline;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    & .sample-name {
      font-size: 1.125rem;
      font-weight: $font-weight-semi-bold;
      margin-right: 0.75rem;

      &--col-two {
        margin-left: auto;
      }
    }
  }

  & .sample-details {
    display: flex;
    margin-top: 0.65rem;

    & .detail {
      margin-right: 2rem;
      font-size: 0.8125rem;
      color: rgba(25, 48, 64, 0.75);

      &--green {
        color: $font-color-green-one;
        font-weight: $font-weight-bold;
      }

      &--col-two {
        margin: 0 0 0 auto;
      }

      span {
        font-weight: $font-weight-bold;
      }
    }
  }

  & .sample-table {
    margin: 1rem 0;

    th {
      text-transform: none;
    }
  }

  & .col-one {
    width: 60%;
    padding: 2rem 25px;

    & .sample {
      margin-bottom: 2rem;
    }
  }

  & .col-two {
    width: 40%;
    padding: 2rem 25px;

    & .colorimetric {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      &-title {
        font-size: 1.125rem;
      }
      &-select {
        & .label {
          font-size: 0.8125rem;
        }
        & .selection.dropdown {
          background-color: $background-color-white-one;
          width: 68px;

          & .text,
          & .item {
            font-size: 0.8125rem;
          }
        }
      }
    }
  }
}
