/** COLORPORTAL TYPOGRAPHY **/

h1 {
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: 1.3125rem;
  font-weight: $font-weight-semi-bold;
}

h4 {
  font-size: 1.125rem;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}

p.title-description {
  font-size: 0.875rem;
}

.sample-type {
  font-size: 0.8125rem;
}

.detail {
  font-size: 0.8125rem;
  & span {
    font-weight: $font-weight-bold;
  }
}

.colorimetric {
  &-title {
    font-weight: $font-weight-normal;
  }
  &-select {
    & .label {
      font-size: 0.8125rem;
    }
  }
}

.graph-container {
  & .name-expand {
    & .name {
      font-size: 0.875rem;
      font-weight: $font-weight-bold;
    }
  }
}
