/** STYLIST - PROJECT DETAILS TABLES **/

// TABLE SECTION SPACING
.styling-iterations {
  margin-top: 2rem;
}

// TABLE DESCRIPTION WITH CTA
.table-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    color: $font-color-primary;
    font-size: 1.125rem;
    font-weight: $font-weight-normal;
    text-transform: capitalize;
  }
}

// TABLE CELL W/ICON AND OFFSET LAYOUT
table.ui.sortable.very.basic.striped.padded.table {
  & thead tr th {
    width: 20%;
  }

  & .icon-text-container {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;

    &__icon {
      display: flex;
      & .material-icons {
        font-size: 16px;
        margin-right: 0.25rem;
      }
    }
  }
}
