/** STYLIST - PROJECT DETAILS TABLES **/

// TABLE SECTION SPACING
.styling-iterations,
.linked-colors {
  margin-top: 2rem;
}

.styling-inspirations,
.styling-iterations,
.linked-colors {
  // TABLE DESCRIPTION WITH CTA
  & .table-description {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__title {
      color: $font-color-primary;
      font-size: 1.125rem;
      font-weight: $font-weight-normal;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }
    &__search-cta {
      display: flex;
      align-items: flex-end;
      & .search-container {
        margin-right: 1rem;
      }
    }
  }
  // TABLE CELL W/ICON AND OFFSET LAYOUT
  & table.ui.sortable.very.basic.striped.padded.table {
    & thead tr th:first-child {
      width: 20%;
    }
    & .icon-text-container {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;

      &__icon {
        display: flex;
        & .material-icons {
          font-size: 16px;
          margin-right: 0.25rem;
        }
      }
    }
  }
  & .no-info-text {
    color: #9ba6ae;
    font-size: 1rem;
    margin-top: 1.25rem;
  }
}

// MAINTAINS EQUAL COLUMN SPACING FOR TABLE WITH LESS COLUMNS
.styling-inspirations,
.styling-iterations {
  & .ui.sortable.very.basic.striped.padded.table {
    & thead tr th {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 16%;
      }
    }
  }
}

// MAINTAINS EQUAL COLUMN SPACING FOR THIS TABLE WITH LESS COLUMNS
.linked-colors {
  & .ui.sortable.very.basic.striped.padded.table {
    & thead tr th {
      &:nth-child(2) {
        width: 16%;
      }
      &:nth-child(3) {
        width: 16%;
      }
      &:nth-child(4) {
        width: 16%;
      }
      &:nth-child(5) {
        max-width: 16%;
      }
    }
  }
}
