/** COLORPORTAL SCROLLABLE TABLE **/

.scrollable-table-container {
  &.stylist-compare--travel {
    max-height: 250px;

    & table {
      & tbody {
        & td {
          font-size: 0.75rem !important;

          & button {
            &.ppg.ui.primary.button,
            &.ppg.ui.secondary.button {
              height: 25px;
              padding: 4px 12px;
            }
            & .button-text {
              font-size: 0.75rem !important;
            }
            & .material-icons {
              font-size: 0.85rem;
            }
            &.ppg.ui.small {
              min-height: 25px;
            }
          }
        }
      }
    }
  }
  table.ui.very.basic.striped.padded.table.table {
    &--sample-legend {
      thead tr {
        th {
          padding: 0.5rem 1rem;
        }
      }
      td {
        padding: 0.6125rem 1rem;
      }
      tbody tr {
        // TRIGGERED BY CLICK EVENT ON 'SET STANDARD' BUTTON
        & .selected-check {
          display: none;
        }
        &.selected {
          td {
            background-color: #456175 !important;
            color: $font-color-white-one !important;
            &:before {
              color: $font-color-white-one !important;
            }
            & button.primary {
              display: none;
            }
          }
          & .selected-check {
            display: block;
            text-align: center;
            width: 90px;
          }
        }
      }
    }
  }
}
