/* CONTAINERS */

/* body */
.main-content {
  min-height: calc(100vh - 195px);
  padding: 25px;
}

/* breadcrumbs row */
.breadcrumbs-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

/* title row */
.title-row {
  margin-bottom: 1.25rem;
}

/* customer info row */
.customer-info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-info__col-one {
  display: flex;
  align-items: flex-end;
}

.customer-info__col-two {
  display: flex;
  align-items: flex-end;
}

/* projects table */
.projects-table {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1152px) {
  .customer-info__col-two {
    margin-top: 1.25rem;
  }
}

/* buttons container */
.buttons-container {
  display: flex;
  flex-direction: column;
}

/* pagination row */
.pagination-row .pagination .item {
  font-size: 0.875rem;
  color: #334756;
}

.pagination-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-per-page {
  display: flex;
  align-items: baseline;
  width: 33.333%;
}

.pagination-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

.go-to-page {
  width: 33.333%;
  text-align: right;
}

.go-to-page {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
