/** STYLIST PROJECT DETAILS ACCORDION  **/
.project-details-accordion-container {
  margin-top: 2rem;

  & .title {
    display: flex;
    align-items: center;
  }
  h1 {
    margin-top: 0;
    font-weight: $font-weight-semi-bold;
    color: $font-color-primary;
  }
}
