/** SMALL DROPDOWN (GRAY BACKGROUND) **/
.ui.fluid.selection.dropdown {
  background-color: $background-color-gray-one;
  border-radius: 1px;
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  text-align: left;
  width: 4rem;
  min-height: 36px;
  height: 36px;
  line-height: 1.1rem;

  &:not(.button) > .default.text {
    color: $font-color-gray-two;
  }

  & .dropdown.icon {
    padding: 0.5rem;
  }

  & .menu > .item {
    padding: 0.5rem !important;
    text-align: left;
  }
}

/** DROPDOWN W/INLINE LABEL*/
.inline-dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
