/** PREDICTIVE SEARCH DROPDOWN  **/

.ui.search > .results {
  border-radius: $border-radius-two;
  margin-top: 0;

  & .result:hover,
  & .result.active {
    background: $background-color-blue-six;
  }
}
