/** FONT IMPORTS **/

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Thin-WebS.eot');
  src: local('Suisse Intl Thin'), local('SuisseIntl-Thin-WebS'),
    url('/fonts/SuisseIntl-Thin-WebS.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Thin-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Thin-WebS.woff') format('woff'),
    url('/fonts/SuisseIntl-Thin-WebS.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Thin-WebS.svg#SuisseIntl') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Light.eot');
  src: local('Suisse Intl Light'), local('SuisseIntl-Light'),
    url('/fonts/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Light.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Light.woff') format('woff'),
    url('/fonts/SuisseIntl-Light.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Light.svg#SuisseIntl') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.eot');
  src: local('Suisse Intl Regular'), local('SuisseIntl-Regular'),
    url('/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular.woff') format('woff'),
    url('/fonts/SuisseIntl-Regular.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Regular.svg#SuisseIntl') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Medium.eot');
  src: local('Suisse Intl Medium'), local('SuisseIntl-Medium'),
    url('/fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Medium.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Medium.woff') format('woff'),
    url('/fonts/SuisseIntl-Medium.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Bold.eot');
  src: local('Suisse Intl Bold'), local('SuisseIntl-Bold'),
    url('/fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Bold.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Bold.woff') format('woff'),
    url('/fonts/SuisseIntl-Bold.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
