/* FOOTER */
footer {
  height: 60px;
  /* optional color */
  /* background-color: #e7ebed; */
  background-color: #112330;
  display: flex;
  align-items: center;
}

footer img {
  height: 40px;
  margin-left: 25px;
  margin-right: 24px;
  cursor: pointer;
}
