/* FOOTER */
footer {
  height: 60px;
  /* optional background-color */
  /* background-color: $background-color-gray-one; */
  background-color: $background-color-blue-three;
  display: flex;
  align-items: center;
  & img {
    height: 40px;
    margin-left: 25px;
    margin-right: 24px;
    cursor: pointer;
  }
}
