/** CONTAINERS AND LAYOUT **/

/* BODY */
.main-content {
  // !!! if an element is removed or the height is adjusted in the header or footer
  // this height will need to be adjusted so that the layout doesn't break when less
  // content is displayed than will fill the viewport height
  // !!!
  min-height: calc(100vh - 195px);
}

/* GENERAL WRAPPER */
.wrapper-one {
  padding: 25px;
}

// PROJECT SPECIFIC LAYOUT FOR COLORPORTAL

/* BREADCRUMBS ROW */
.breadcrumbs-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

/* TITLE ROW */
.title-row {
  margin-bottom: 1.25rem;
}

/* CUSTOMER INFO ROW */
.customer-info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;

  &__col-one {
    display: flex;
    align-items: flex-end;
    & .search-container {
      // because IE is garbage
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-height: 67px;
      }
    }
  }
  &__col-two {
    display: flex;
    align-items: flex-end;

    @media only screen and (max-width: 1152px) {
      margin-top: 1.25rem;
    }
  }
}

/* PROJECTS TABLE */
.projects-table {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* PAGINATION ROW */
.pagination-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & .items-per-page {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 33.333%;

    & .item-count {
      margin-bottom: 0 !important;
    }

    @media only screen and (max-width: 1200px) {
      & .dropdown-inline {
        width: 100%;
      }
      & .item-count {
        order: 2;
        margin-top: 1rem;
      }
    }
  }

  & .pagination-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    // below in this class is because of ie
    margin: auto;
    @media only screen and (max-width: 1200px) {
      display: block;
      margin: 0;
    }
  }

  & .pagination-search {
    justify-content: flex-end;
    width: 33.333%;
    text-align: right;
  }
}

// TRAVEL FILTER ROW (compare-stylist-travel-alt5+samples)
.travel-filter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
