/** PAGINATION **/

.pagination-buttons {
  & .ui.pagination.menu {
    min-height: 28px;
    height: 28px;
    box-shadow: none;
    border: none;
    // PAGINATION BUTTONS
    & .item {
      font-size: 0.875rem;
      color: $font-color-gray-two;
      min-width: 32px;
      & > i.icon {
        margin: 0 0 0 2px;
        font-size: 1rem;
      }
      &:before {
        background: transparent;
      }
      &--angle-left,
      &--angle-right {
        padding: 0.25rem 0.5rem;
        max-width: 40px;
        width: 40px;
        height: 28px;
        border-radius: 1px;
        background-color: $background-color-gray-one;
        &:hover {
          background-color: $background-color-blue-five;
        }
      }
      &--angle-left {
        margin-right: 1.25rem;
      }
      &--angle-right {
        margin-left: 1.25rem;
      }
      &--page-selection {
        padding: 0.25rem 0.75rem;
        &.active,
        &:hover {
          color: $font-color-white-one;
          background-color: $background-color-blue-one;
        }
      }
    }
  }
}

/* COLORPORTAL */
// ITEM COUNT
.item-count {
  font-size: 0.875rem;
  color: $font-color-primary;
  & span {
    font-weight: $font-weight-bold;
  }
}
