/* PAGINATION */
.pagination-row .ui.pagination.menu {
  min-height: fit-content;
  height: 28px;
  box-shadow: none;
  border: none;
}

.pagination-row .ui.menu .item > i.icon {
  margin: 0 0 0 2px;
  font-size: 1rem;
}

.pagination-row .ui.pagination.menu .item {
  min-width: fit-content;
}
.pagination-row .ui.menu .item:before {
  background: transparent;
}

.pagination-row .ui.pagination.menu .item:nth-child(1),
.pagination-row .ui.pagination.menu .item:nth-child(9) {
  padding: 0.25rem 0.5rem;
  max-width: 40px;
  width: 40px;
  height: 28px;
  border-radius: 1px;
  background-color: #e7ebed;
}

.pagination-row .ui.pagination.menu .item:nth-child(1) {
  margin-right: 1.25rem;
}

.pagination-row .ui.pagination.menu .item:nth-child(9) {
  margin-left: 1.25rem;
}

.pagination-row .ui.pagination.menu .item:nth-child(1):hover,
.pagination-row .ui.pagination.menu .item:nth-child(9):hover {
  background-color: rgba(25, 102, 236, 0.5);
}

.pagination-row .ui.pagination.menu .item:nth-child(2),
.pagination-row .ui.pagination.menu .item:nth-child(3),
.pagination-row .ui.pagination.menu .item:nth-child(4),
.pagination-row .ui.pagination.menu .item:nth-child(6),
.pagination-row .ui.pagination.menu .item:nth-child(7),
.pagination-row .ui.pagination.menu .item:nth-child(8) {
  padding: 0.25rem 0.75rem;
}

.pagination-row .ui.pagination.menu .item:nth-child(3):hover,
.pagination-row .ui.pagination.menu .item:nth-child(4):hover,
.pagination-row .ui.pagination.menu .item:nth-child(6):hover,
.pagination-row .ui.pagination.menu .item:nth-child(7):hover,
.pagination-row .ui.pagination.menu .item:nth-child(8):hover,
.pagination-row .ui.pagination.menu .item:nth-child(2).active,
.pagination-row .ui.pagination.menu .item:nth-child(3).active,
.pagination-row .ui.pagination.menu .item:nth-child(4).active,
.pagination-row .ui.pagination.menu .item:nth-child(6).active,
.pagination-row .ui.pagination.menu .item:nth-child(7).active,
.pagination-row .ui.pagination.menu .item:nth-child(8).active,
.pagination-row .ui.pagination.menu .item:nth-child(2):hover {
  color: $font-color-white-one;
  background-color: $background-color-blue-one;
}
