/* PREVIOUS PAGE ICON/TEXT */
.previous-page {
  display: flex;
  line-height: 20px;
  max-width: fit-content;

  &__icon {
    display: flex;
    align-items: center;
    & .material-icons {
      font-size: 1.125rem;
      padding-right: 0.35rem;
    }
  }
  &__text {
    font-size: 0.875rem;
  }
}
