/* PREVIOUS PAGE ICON/TEXT */
.previous-page {
  display: flex;
  max-width: fit-content;

  &__icon {
    & .material-icons {
      font-size: 18px;
      line-height: 20px;
      padding-right: 0.25rem;
    }
  }
  &__text {
    font-size: 0.875rem;
  }
}
