.ppg-custom-radio {
  &.ui.checkbox input[type='radio'] {
    width: 22px;
    height: 22px;
  }

  &.ui.radio.checkbox {
    & input:checked ~ label {
      &:before {
        background-color: $background-color-blue-one;
        transition: all ease 0.2s;
      }
      &:after {
        background-color: $background-color-white-one;
        transition: all ease 0.2s;
      }
    }
    & label {
      &:before,
      &:after {
        width: 20px;
        height: 20px;
      }
    }
  }
}
