.ppg-radio-button {
  display: flex;

  label {
    cursor: pointer;
  }
  input {
    &[type='radio'] {
      display: none;
      &:checked + span {
        &:before {
          background-color: white;
          border: 1px solid $background-color-blue-one;
          box-shadow: inset $background-color-blue-one 0 0 0 4px;
          transition: all ease 0.2s;
        }
      }
    }
  }
  span {
    display: flex;
    &:before {
      border: 1px solid $background-color-gray-three;
      content: '';
      display: flex;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset $background-color-white-one 0 0 0 10px;
      transition: all ease 0.2s;
    }
  }
}
