.ppg-custom-radio {
  &.ui.radio.checkbox {
    min-height: 22px;
    line-height: 22px;
    & input[type='radio'] {
      width: 22px;
      height: 22px;
    }
    & input:checked ~ label {
      &:before {
        background-color: $background-color-blue-one;
        transition: all ease 0.2s;
      }
      &:after {
        background-color: $background-color-white-one;
        transition: all ease 0.2s;
      }
    }
    & label {
      &:before,
      &:after {
        width: 20px;
        height: 20px;
      }
      &:before {
        border: 1px solid $background-color-gray-three;
      }
    }
  }
}
