/** DROPDOWN SELECT W/INLINE LABEL*/
.dropdown-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/** DROPDOWN SELECT **/
.ui.fluid.selection.dropdown {
  // SMALL
  &.select-small {
    font-size: 0.875rem;
    border-radius: $border-radius-two;
    padding: 0.5rem 1.25rem 0.5rem 0.5rem;
    text-align: left;
    min-height: 35px;
    height: 35px;
    width: 10rem;
    line-height: 1.1rem;

    & .menu > .item {
      font-size: 0.875rem;
      color: $font-color-primary;
      padding: 0.5rem !important;
      text-align: left;
    }

    &:not(.button) > .default.text,
    & .text {
      color: $font-color-primary;
    }

    & .dropdown.icon {
      padding: 0.575rem 0.575rem 0.575rem 0.575rem;
      right: 10px;
    }

    // GREY BACKGROUND
    &--grey {
      background-color: $background-color-gray-one;
      width: 3.75rem;
      font-size: 1rem;

      & .menu > .item {
        font-size: 1rem;
      }
      &:not(.button) > .default.text {
        color: $font-color-gray-two;
      }
      & .dropdown.icon {
        padding: 0.5rem 0.65rem 0.5rem 0.25rem;
      }
    }
  }
}
