/** TABS **/

.ppg-tabs {
  & .ui {
    &.top.attached.tabular.menu {
      & a.item {
        font-size: 0.875rem;
        font-weight: $font-weight-semi-bold;
        color: $font-color-primary;
        &:first-of-type {
          margin-left: 24px;
        }
        &.active {
          border-radius: $border-radius-two $border-radius-two 0 0 !important;
          background-color: $background-color-gray-seven !important;
        }
      }
    }
    &.bottom.attached.tab.segment {
      &.active {
        background-color: $background-color-gray-seven !important;
      }
    }
  }
}

// background-color: $background-color-gray-three;
