/** TABLES **/

table.ui.table {
  // ALL TABLES
  & thead th {
    font-size: 0.8125rem;
    font-weight: $font-weight-semi-bold;
    color: $font-color-primary;
    text-transform: capitalize;
    &:after {
      text-transform: none;
    }
  }
  & td {
    font-size: 0.8125rem;
    color: $font-color-gray-one;

    & a {
      color: $font-color-blue-one;
      cursor: pointer;
    }
  }
  // SORTABLE HEADER W/ICON
  &.sortable.very.basic.striped.padded.table {
    & th {
      position: relative;
      border-top: solid 1px $background-color-gray-six;
      border-bottom: solid 1px $background-color-gray-six;
      border-left: none;
      &:after {
        position: absolute;
        top: 13px;
        content: '';
        display: inline-block;
        width: 12px;

        @media screen and (max-width: 959px) {
          top: 3px;
        }
      }
      &.ascending:after {
        font-family: 'Material Icons';
        content: 'arrow_downward';
        font-feature-settings: 'liga';
      }
      &.descending:after {
        font-family: 'Material Icons';
        content: 'arrow_upward';
        font-feature-settings: 'liga';
      }
      &.sorted {
        background-color: transparent;
      }
    }
  }
  // BASIC HEADER WITHOUT ICONS
  &.very.basic.striped.padded.table {
    border-bottom: solid 1px $background-color-gray-six;
    border-radius: 0;

    & thead {
      & tr:first-child > th:first-child,
      & tr:first-child > th:last-child {
        border-radius: 0;
      }
      & th {
        border-top: solid 1px $background-color-gray-six;
        border-bottom: solid 1px $background-color-gray-six;
        border-left: none;
      }
    }

    & tbody tr {
      cursor: pointer;

      &:nth-child(1n) {
        background-color: $background-color-gray-five !important;
      }
      &:nth-child(2n) {
        background-color: transparent !important;
      }
      &:hover {
        background-color: $background-color-blue-six !important;
      }

      & td {
        border-top: 1px solid transparent;

        // COMMENT ICON/COUNT CONTAINER
        & .comment-container {
          display: flex;
          padding-left: 1rem;

          &__icon {
            line-height: 8px;
            margin-right: 0.25rem;
            & .material-icons {
              font-size: 22px;
            }
            & .comment {
              &--no {
                // darkended for accessibility contrast
                color: darken($font-color-gray-four, $amount: 20%);
              }
              &--yes {
                color: $font-color-blue-one;
              }
            }
          }
          &__count {
            color: $font-color-primary;
            font-weight: $font-weight-bold;
          }
        }

        // TABLE STATUS INDICATOR DOTS
        & .dot {
          height: 9px;
          width: 9px;
          background-color: $background-color-white-three;
          border-radius: 50%;
          display: inline-block;
          margin-right: 6px;

          &--approved {
            background-color: $background-color-green-one;
          }
          &--pending {
            background-color: $background-color-orange-one;
          }
          &--rejected {
            background-color: $background-color-red-warning;
          }
        }
      }
    }
  }
}
