/* TABLE */

.ui.table thead tr:first-child > th:first-child,
.ui.table thead tr:first-child > th:last-child,
table.ui.very.basic.selectable.striped.padded.table {
  border-radius: 0;
}

// .ui.basic.striped.table tbody tr:nth-child(1n) {
//   background-color: $background-color-gray-five !important;
// }

// .ui.basic.striped.table tbody tr:nth-child(2n) {
//   background-color: transparent !important;
// }

// NEW
table.ui.very.basic.striped.padded.table {
  border-bottom: solid 1px $background-color-gray-six;

  & th {
    border-top: solid 1px $background-color-gray-six;
    border-bottom: solid 1px $background-color-gray-six;
  }

  & tbody {
    & tr {
      cursor: pointer;

      &:hover {
        background-color: $background-color-blue-six !important;
      }

      &:nth-child(1n) {
        background-color: $background-color-gray-five !important;
      }

      &:nth-child(2n) {
        background-color: transparent !important;
      }

      & td {
        border-top: 1px solid transparent;
      }
    }
  }
}

/* TABLE STATUS INDICATOR DOTS  */
.dot {
  height: 9px;
  width: 9px;
  background-color: $background-color-white-three;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.dot--approved {
  background-color: $background-color-green-one;
}

.dot--pending {
  background-color: #ff9a00;
}

.dot--rejected {
  background-color: #ce3f11;
}
