/* FONTS */
html,
body {
  font-size: 16px;
  font-family: $font-family-primary, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: $font-color-primary;
}

/* the increased hierarchy overrides the library fonts */
h1,
h2,
h3,
h4,
h5,
p,
.item {
  font-family: $font-family-primary;
}

h1 {
  font-size: 1.75rem;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}

a {
  color: $font-color-blue-one;
}

.ui.table thead th {
  font-size: 0.8125rem;
  font-weight: $font-weight-semi-bold;
  color: $font-color-primary;
}

.ui.table td {
  font-size: 0.8125rem;
  color: $font-color-gray-one;

  & a {
    color: $font-color-blue-one;
    cursor: pointer;
  }
}

/* menu label */
.menu-label {
  color: $font-color-white-one;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-weight: $font-weight-medium;
}

/* title span */
.title-span {
  font-weight: $font-weight-light;
}

/* title tm */
.title .title-tm {
  font-weight: $font-weight-light;
  font-size: 1.25rem;
  vertical-align: text-top;
}

/* user info */
.user-info--text {
  font-weight: $font-weight-medium;
}

/* header dropdown menu text */
.item-text {
  color: $font-color-primary;
  font-size: 0.875rem;
}

/* input placeholder */
input::placeholder {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  color: $font-color-input-placeholder;
}

/* semantic ui navbar links */
.ui-nav.ui.menu .item {
  color: $font-color-white-one;
  font-weight: $font-weight-medium;
  letter-spacing: 0.0275rem;
  padding: 8px;
}

.ui-nav.ui.menu .item:focus,
.ui-nav.ui.menu .item:hover {
  color: $font-color-white-one;
  font-weight: $font-weight-semi-bold;
  letter-spacing: normal;
}

/* normal button text */
.button-text {
  font-size: 0.875rem;
}

.ui.button.btn-print .button-text {
  color: $font-color-primary;
}

/* breadcrumbs */
.ui.breadcrumb .divider {
  color: $breadcrumb-divider;
  font-size: 0.8125rem;
}

.ui.breadcrumb a.section {
  color: $breadcrumb-divider;
  font-size: 0.8125rem;

  &.active,
  &:hover {
    color: $font-color-blue-one;
    font-weight: inherit;
  }
}

/* labels */
.customer-info label {
  margin-bottom: 0.25rem;
}

.label {
  color: $font-color-primary;
  font-size: 0.8125rem;
}

.label.label-large {
  font-size: 0.875rem;
}

/* SEARCH RESULTS 'No Results' HEADER */
.ui.search > .results > .message .header,
.ui.search > .results .result .content .title {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
  color: $font-color-primary;
}

/* input results */
.customer-info__search-container .ui.search .prompt {
  font-family: $font-family-primary;
  font-size: 0.875rem;
}

.pagination-row .ui.fluid.selection.dropdown {
  & .text,
  & .item {
    color: $font-color-gray-two;
  }
}

/* add project button */
.btn-add-project .button-text,
.btn-view-styling .button-text {
  font-weight: $font-weight-normal;
}

/* item count */
.item-count {
  font-size: 0.875rem;
  color: $font-color-primary;
  & span {
    font-weight: $font-weight-bold;
  }
  &--large-screen {
    margin-right: 1.5rem;
    margin-bottom: 0;

    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }
  &--small-screen {
    margin-top: 1rem;

    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }
}

/* pagination buttons */
.pagination-row .pagination .item {
  font-size: 0.875rem;
  color: $font-color-gray-two;
}

/* footer trademark  */
.footer-trademark {
  font-size: 0.875rem;
  font-weight: $font-weight-medium;
  color: $font-color-white-one;
}
