/** TYPOGRAPHY **/

html,
body {
  font-size: 16px;
  font-family: $font-family-primary, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: $font-color-primary;
}

/* the increased hierarchy overrides the library fonts */
h1,
h2,
h3,
h4,
h5,
p,
.item {
  font-family: $font-family-primary;
}

h1 {
  font-size: 1.75rem;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}

a {
  color: $font-color-blue-one;
}

.ui.table {
  & thead th {
    font-size: 0.8125rem;
    font-weight: $font-weight-semi-bold;
    color: $font-color-primary;
  }
  & td {
    font-size: 0.8125rem;
    color: $font-color-gray-one;

    & a {
      color: $font-color-blue-one;
      cursor: pointer;
    }
  }
}

/* MENU LABEL */
.dropdown__label {
  color: $font-color-white-one;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-weight: $font-weight-medium;
}

/* TITLE SPAN */
.title__span {
  font-weight: $font-weight-light;
}

/* TITLE TM */
.title__tm {
  font-weight: $font-weight-light;
  font-size: 1.25rem;
  vertical-align: text-top;
}

/* USER INFO */
.user-info__text {
  font-weight: $font-weight-medium;
}

/* HEADER DROPDOWN MENU TEXT */
.item__text {
  color: $font-color-primary;
  font-size: 0.875rem;
}

/* INPUT TEXT */
.ui.icon.input input {
  font-family: $font-family-primary;
  &::placeholder {
    font-family: $font-family-primary;
    font-size: 0.875rem;
    color: $font-color-input-placeholder;
  }
}

/* NAVBAR LINKS */
.ui-nav.ui.menu .item {
  color: $font-color-white-one;
  font-weight: $font-weight-medium;
  letter-spacing: 0.0275rem;
  padding: 8px;
  &:focus,
  &:hover {
    color: $font-color-white-one;
    font-weight: $font-weight-semi-bold;
    letter-spacing: normal;
  }
}

/* BREADCRUMBS */
.ui.breadcrumb {
  & .divider {
    color: $breadcrumb-divider;
    font-size: 0.8125rem;
  }
  & a.section {
    color: $breadcrumb-divider;
    font-size: 0.8125rem;

    &.active,
    &:hover {
      color: $font-color-blue-one;
      font-weight: $font-weight-normal;
    }
  }
}

/* LABELS */
.label {
  color: $font-color-primary;
  font-size: 0.8125rem;

  &--large {
    font-size: 0.875rem;
  }
  &--stacked-input {
    margin-bottom: 0.25rem;
  }
}

/* SEARCH RESULTS 'No Results' HEADER */
.ui.search > .results > .message .header,
.ui.search > .results .result .content .title {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
  color: $font-color-primary;
}

/* SEARCH INPUT RESULTS */
.search-container .ui.search .prompt {
  font-family: $font-family-primary;
  font-size: 0.875rem;
}

.pagination-row .ui.fluid.selection.dropdown {
  & .text,
  & .item {
    color: $font-color-gray-two;
  }
}

/* ITEM COUNT */
.item-count {
  font-size: 0.875rem;
  color: $font-color-primary;
  & span {
    font-weight: $font-weight-bold;
  }
}

/* PAGINATION BUTTONS */
.pagination .item {
  font-size: 0.875rem;
  color: $font-color-gray-two;
}

/* FOOTER TRADEMARK  */
.footer-trademark {
  font-size: 0.875rem;
  font-weight: $font-weight-medium;
  color: $font-color-white-one;
}
