/** TYPOGRAPHY **/

html,
body {
  font-size: 16px;
  font-family: $font-family-primary, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: $font-color-primary;
}

h1,
h2,
h3,
h4,
h5,
p,
.item {
  font-family: $font-family-primary;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

a {
  color: $font-color-blue-one;

  &:hover {
    color: darken($background-color-blue-two, $amount: 7.5%);
  }
}

/* USER INFO */
.user-info__text {
  font-weight: $font-weight-medium;
}

// move to inputs!!!
/* INPUT TEXT */
.ui.icon.input input {
  font-family: $font-family-primary;
  &::placeholder {
    font-family: $font-family-primary;
    font-size: 0.875rem;
    color: $font-color-input-placeholder;
  }
}

/* LABELS */
.label {
  color: $font-color-primary;
  font-size: 0.8125rem;

  &--large {
    font-size: 0.875rem;
  }
  &--stacked {
    margin-bottom: 0.25rem;
  }
}

// move to inputs!!!!
/* SEARCH RESULTS 'No Results' HEADER */
.ui.search > .results > .message .header,
.ui.search > .results .result .content .title {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
  color: $font-color-primary;
}

/* SEARCH INPUT RESULTS */
.search-container .ui.search .prompt {
  font-family: $font-family-primary;
  font-size: 0.875rem;
}

// move to pagination!!!
.pagination-row .ui.fluid.selection.dropdown {
  & .text,
  & .item {
    color: $font-color-gray-two;
  }
}

/* ITEM COUNT */
// move to pagination!!!
.item-count {
  font-size: 0.875rem;
  color: $font-color-primary;
  & span {
    font-weight: $font-weight-bold;
  }
}

/* PAGINATION BUTTONS */
.pagination .item {
  font-size: 0.875rem;
  color: $font-color-gray-two;
}
