// FONTFAMILY
$font-family-primary: 'Suisse Intl', sans-serif;

//FONT COLORS
$font-color-primary: #193040;
$font-color-white-one: #ffffff;
$font-color-white-two: #eee;
$font-color-gray-one: rgba(25, 48, 64, 0.7);
$font-color-gray-two: #334756;
$font-color-blue-one: #1966ec;
$font-color-blue-two: #1e5dcb;
$font-color-input-placeholder: #9ba6ae !important;

//FONT WEIGHT
$font-weight-light: 100;
$font-weight-medium: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

//BACKGROUND & BORDER COLORS
$background-color-white-one: #ffffff;
$background-color-white-two: #eee;
$background-color-blue-one: #1966ec;
$background-color-blue-two: #1e5dcb;
$background-color-gray: #e7ebed;
$background-color-gray-two: #d6dadc;
$background-color-gray-three: #b3c1cc;

//UTILITY COLORS
$breadcrumb-divider: #334756;
