// FONTFAMILY
$font-family-base: 'Suisse Intl', sans-serif;

//FONT COLORS
$font-color-base: #193040;

//FONT WEIGHT
$font-weight-light: 100;
$font-weight-medium: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 500;

//BACKGROUND COLORS
