/* FONTS */
body {
  font-size: 16px;
  font-family: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #193040;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Thin-WebS.eot');
  src: local('Suisse Intl Thin'), local('SuisseIntl-Thin-WebS'),
    url('/fonts/SuisseIntl-Thin-WebS.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Thin-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Thin-WebS.woff') format('woff'),
    url('/fonts/SuisseIntl-Thin-WebS.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Thin-WebS.svg#SuisseIntl') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Light.eot');
  src: local('Suisse Intl Light'), local('SuisseIntl-Light'),
    url('/fonts/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Light.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Light.woff') format('woff'),
    url('/fonts/SuisseIntl-Light.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Light.svg#SuisseIntl') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.eot');
  src: local('Suisse Intl Regular'), local('SuisseIntl-Regular'),
    url('/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular.woff') format('woff'),
    url('/fonts/SuisseIntl-Regular.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Regular.svg#SuisseIntl') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Medium.eot');
  src: local('Suisse Intl Medium'), local('SuisseIntl-Medium'),
    url('/fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Medium.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Medium.woff') format('woff'),
    url('/fonts/SuisseIntl-Medium.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Bold.eot');
  src: local('Suisse Intl Bold'), local('SuisseIntl-Bold'),
    url('/fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SuisseIntl-Bold.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Bold.woff') format('woff'),
    url('/fonts/SuisseIntl-Bold.ttf') format('truetype'),
    url('/fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

th {
  font-size: 13px;
  font-weight: 500;
  color: #193040;
}

td {
  font-size: 13px;
  color: rgba(25, 48, 64, 0.7);
}

td a {
  color: #1966ec;
  cursor: pointer;
}

a {
  color: #1966ec;
}

/* menu label */
.menu-label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

/* title span */
.title-span {
  font-weight: 100;
}

/* title tm */
.title-tm {
  font-weight: 300;
}

/* user info */
.user-info--text {
  font-weight: 300;
}

/* dropdown menu text */
.display-item--text {
  line-height: 28px;
}

.dropdown-item {
  color: #334756;
  padding: 0.375rem 1.5rem;
}

/* input placeholder */
input::placeholder {
  font-family: 'Suisse Intl';
  color: #9ba6ae !important;
}

/* navbar links */
.color-portal.color-portal-nav .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.0275rem;
}

.color-portal.color-portal-nav .navbar-nav .nav-link:focus,
.color-portal.color-portal-nav .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: normal;
}

.print-button-text {
  font-size: 14px;
}

.breadcrumb-item.active a {
  color: #1966ec;
}

.customer-info label {
  margin-bottom: 0.25rem;
}

.label {
  color: #334756;
  font-size: 13px;
}

.label.label-large {
  font-size: 14px;
}

.pagination-row .pagination .page-item {
  font-size: 14px;
}

/* BODY */
.main-content {
  min-height: calc(100vh - 195px);
  padding: 25px;
}

/* ICONS */
.material-icons.account {
  padding-right: 0.5rem;
}

.dropdown-item .material-icons {
  padding-right: 1.5rem;
}

.material-icons.print {
  color: #7f98ab;
}

.navbar .ui.icon.input .search {
  color: #1966ec;
  opacity: 0.65;
}

/* BUTTONS */
button.btn {
  border-radius: 2px;
}

.btn.btn-primary {
  background-color: #1e5dcb;
}

.btn.btn-primary:hover {
  background-color: #1b499a;
}

.btn.btn-outline-primary {
  color: #1e5dcb;
  border-color: #1e5dcb;
}

.btn.btn-outline-primary:hover {
  background-color: #1e5dcb;
  color: #ffffff;
}

/* print button */
.btn-print {
  background-color: #e7ebed;
}

/* add project and view programs buttons */
.btn-add-project,
.btn-view-programs {
  height: 40px;
}

.btn.btn-project {
  border-radius: 2px;
  border: solid 1px #b3c1cc;
  background-color: #ffffff;
}

.btn.btn-project:hover,
.btn.btn-project.active {
  border: solid 1px #1966ec;
  background-color: rgba(25, 102, 236, 0.1);
}

/* items per page button */
.btn-items-per-page {
  background-color: #e7ebed;
  border-radius: 1px;
  border: solid 1px #b3c1cc;
  color: #334756;
  width: 63px;
  height: 35px;
}

/* project buttons */
.btn.btn-project {
  font-size: 13px;
  color: #334756;
  border-radius: 2px;
  width: 70px;
}

.btn.btn-project:hover,
.btn.btn-project.active {
  font-size: 13px;
  color: #1e5dcb;
}

.btn.btn-items-per-page:hover,
.btn.btn-items-per-page:focus {
  background-color: #1e5dcb;
  border-color: #1e5dcb;
}

/* NAVBAR */
.navbar {
  height: 70px;
  padding: 0.5rem 8px;
  background-color: #334756 !important;
}

a.nav-link {
  text-align: center;
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  width: 75%;
}

.navbar .ui.icon.input {
  width: 25%;
}

/* .navbar form > div {
  width: 100%;
} */

.nav-item:first-of-type {
  width: 9%;
}

.nav-item:nth-child(2) {
  width: 12%;
}

.nav-item:nth-child(3) {
  width: 14%;
}

.nav-item:nth-child(4) {
  width: 23%;
}

.nav-item:nth-child(5) {
  width: 14%;
}

.nav-item:nth-child(6) {
  width: 16%;
}

.nav-item:nth-child(7) {
  width: 10%;
}

/* navbar underline animation */
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  position: relative;
  font-weight: bold;
}
.navbar .navbar-nav > li > a:before {
  background-color: #3ec7f4;
  content: '';
  height: 5px;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar .navbar-nav > li > a:hover:before,
.navbar .navbar-nav > li > a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* HEADER COLOR STRIP */
.color-strip {
  height: 5px;
  background-image: linear-gradient(
    to left,
    #ff0000,
    #ffd602 33%,
    #1aa063 65%,
    #0157fc
  );
}

/* HEADER MENU */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  background-color: #112330;
  color: #ffffff;
}

/* HEADER DROPDOWN MENU  */
.dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(25, 48, 64, 0.2);
}

/* HAMBURGER ANIMATION */
#nav-icon {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
  margin-top: 0.35rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

/* BREADCRUMBS */
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}

/* CONTAINERS */

/* header */
.header-menu .dropdown {
  display: flex;
  align-items: center;
  width: 15rem;
}

.dropdown-menu.show {
  padding: 1.25rem 0.25rem;
}

.header-menu .dropdown-item {
  display: flex;
}

.header-menu .title {
  flex: 1;
  text-align: center;
}

.header-menu .user-info {
  display: flex;
  justify-content: flex-end;
  width: 15rem;
  text-align: right;
}

/* breadcrumbs row */
.breadcrumbs-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

/* title row */
.title-row {
  margin-bottom: 1.5rem;
}

/* customer info row */
.customer-info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-info__col-one {
  display: flex;
  align-items: flex-end;
}

.customer-info__col-two {
  display: flex;
  align-items: flex-end;
}

.projects-table {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1107px) {
  .customer-info__col-two {
    margin-top: 1.25rem;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

/* pagination row */
.pagination-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-per-page {
  display: flex;
  align-items: baseline;
  width: 15rem;
}

.pagination-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

.go-to-page {
  width: 15rem;
  text-align: right;
}

/* PAGINATION */
.pagination-row .dropdown-menu.show {
  min-width: fit-content;
}

.pagination-row ul {
  margin: 0;
}

.pagination-row .pagination .page-item:first-child {
  margin-right: 1.25rem;
}

.pagination-row .pagination .page-item:first-child a {
  background-color: #e7ebed;
  color: #193040;
}

.pagination-row .pagination .page-item:nth-child(8) {
  margin-left: 1.25rem;
}

.pagination-row .pagination .page-item:nth-child(8) a {
  background-color: #e7ebed;
  color: #193040;
}

.pagination-row .pagination .page-item .page-link {
  padding: 0.25rem 0.75rem;
  color: #334756;
  border: none;
  border-radius: 1px;
}

.pagination-row .pagination .page-item .page-link:focus {
  color: #ffffff;
  background-color: #1966ec;
}

.pagination-row .pagination .page-item:nth-child(4) {
  margin-right: 0.75rem;
}

.pagination-row .pagination .page-item:nth-child(5) {
  margin-left: 0.75rem;
}

.go-to-page {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

/* INPUTS */
.navbar .ui.icon.input input {
  border-radius: 2px;
}

.customer-info form .input-group.border {
  border: 1px solid #b3c1cc !important;
}

.customer-info .customer-search {
  min-width: 18rem;
}

.go-to-page input {
  width: 42px;
  height: 35px;
  border-radius: 1px;
}

/* TABLES */
.table {
  border-bottom: solid 1px rgba(17, 35, 48, 0.25);
}

.table th {
  border-top: solid 1px rgba(17, 35, 48, 0.25);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(17, 35, 48, 0.03);
}
.table td {
  border-top: none;
}

/* TABLE STATUS INDICATOR DOTS  */
.dot {
  height: 9px;
  width: 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.dot--approved {
  background-color: #02a154;
}

.dot--pending {
  background-color: #ff9a00;
}

/* FOOTER */
footer {
  height: 60px;
  background-color: #e7ebed;
  /* optional color */
  /* background-color: #112330; */
  display: flex;
  align-items: center;
}

footer img {
  height: 40px;
  padding-left: 25px;
}

/* FULL SCREEN OVERLAY BELOW 960PX */
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 35, 47, 1);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  font-family: 'Suisse Intl';
  font-weight: 300;
  top: 45%;
  left: 50%;
  font-size: 1.5rem;
  color: #ffffff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 960px) {
  #overlay {
    display: none;
  }
}
