/* these are unique to the styleguide and only for displaying content here */
/* all styles necessary for using elements are in styles.css */
body {
  padding: 2.5%;
}

hr {
  margin: 1.5rem 0;
}
h3.styleguide {
  font-family: 'Lato', sans-serif;
  margin-bottom: 3rem;
}

p.styleguide {
  /* text-decoration: underline; */
  font-family: 'Lato', sans-serif;
  margin-bottom: 2rem;
}

.requires-comment:before {
  content: ' *';
  color: rgb(180, 3, 3);
}

.ui.accordion {
  margin-top: 2.5rem;
}
