/* these are unique to the styleguide and only for displaying content here */
/* all styles necessary for using elements are in styles.css */
body {
  padding: 2.5%;
}

hr {
  margin: 1.5rem 0;
}
h2.styleguide {
  margin-bottom: 3rem;
  text-decoration: underline;
}

h3.styleguide {
  margin-bottom: 2.5rem;
}

.header-detail {
  margin-bottom: 1rem !important;
}

p.styleguide {
  margin-bottom: 2rem;
}

p.styleguide.subheader {
  font-weight: 600;
  text-decoration: underline;
}

.requires-comment.requires-urgent {
  font-weight: 500;
}

.requires-comment.requires-comment--detail {
  margin-bottom: 3rem;
  max-width: 35rem;
}

.requires-comment:before {
  content: '* ';
  color: rgb(180, 3, 3);
}

.requires-urgent:before {
  content: ' ***';
  color: rgb(180, 3, 3);
}

.requires-urgent:after {
  content: ' ***';
  color: rgb(180, 3, 3);
}

.ui.styled.accordion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: fit-content;
}

.accordion .title {
  color: rgba(0, 0, 0, 0.75) !important;
}

.accordion .title:hover {
  color: rgba(0, 0, 0, 0.95) !important;
}

.half-width-hr {
  width: 50%;
}

.typography-display-code {
  margin-top: 0.75rem;
  background-color: #d3d3d391;
  width: fit-content;
}
